<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<div>

    <!--=============HEADER===============-->
    <h1>{% block header %}
        Blog Saver
        {% endblock header %}
    </h1>
    <!--===========HELLO USER==============-->
    {% if user.is_authenticated %}
    Yo!!! {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
    <p>You are not logged in</p>
    {% endif %}
    <hr/>


    {% block content %}
    {% endblock content %}
</div>
</body>
</html>